@import '~bootstrap/scss/bootstrap';

.active a {
    color: orange;
    text-decoration: underline;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.cards {
    background-color: orange;
    height: 300px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}
